__pycache__/
*.py[cod]
*.egg-info
.env
.venv/
*.log
.DS_Store
prompt.md
.prompt.md
build/
dist/
.vite/
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

app/data/goods_services/*.xlsx



data/
!app/data/
logs/
eval_results/
api_info/
eval_dataset/
models/
dummy_data/
util_codes/
